<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="ChromeTest">
        <parameter name="browser" value="Chrome"></parameter>
        <parameter name="url1" value="http://commands.test-code.com/project"></parameter>
        <parameter name="url2" value="http://commands.test-code.com/admin/add-product"></parameter>
        <classes>
            <class name="tests.LoginPage"></class>
            <class name="tests.AddProductPage"></class>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="Firefox"></parameter>
        <parameter name="url1" value="http://commands.test-code.com/project"></parameter>
        <parameter name="url2" value="http://commands.test-code.com/admin/add-product"></parameter>
        <classes>
            <class name="tests.LoginPage"></class>
            <class name="tests.AddProductPage"></class>
        </classes>
    </test>
</suite>